<div class="wrapper">
  <div class="row">
    <div class="card">
      <img src="https://blog.playstation.com/tachyon/2023/10/cd56722db7b991b3d7a33f1bafd55f80d0ac553d.png?resize=1088%2C612&crop_strategy=smart" alt="" class = "image">
      <div class="product">
        <span class="product-name">{{ProductList[0].Title}}</span>
      </div>
      <div class="product-rating">
        <i class="fas fa-heart"></i>
        <i class="fas fa-heart"></i>
        <i class="fas fa-heart"></i>
        <i class="fas fa-heart"></i>
        <i class="fas fa-heart"></i>
      </div>
      <div class="description">
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do...</p>
      </div>
      <div class="price">
        <div>
          <span class="before-price">£25</span>
          <span class="now-price">£15</span>
        </div>
        <button>add to cart</button>
      </div>
    </div>
  </div>
</div>